* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.wrap {
    margin: 10px;
    height: 90%;
    width: 98.5%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 90%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff38;
    border: 2px solid #6818a1;
    overflow: auto;
}

.chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right,#6818a1,  #ffa500);
    color: white;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 15px;
    position: fixed;
    width: 98.4%;
    font-family: sans-serif;
}

#h3-id-salon {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: white;
}

#h3-nombre {
    text-align: right;
    color: white;
    font-size: 20px;
    margin-right: 15px;
    padding: 0;
}

#online {
    text-align: right;
    color: white;
    font-size: 15px;
    margin-right: 15px;
    padding: 0;
}

.form {
    flex: 0 0 32px;
    display: flex;
    border: 1px solid #6818a1;
}

.form>input[type=text] {
    flex: 1 1 auto;
    border: 1px solid #eee;
}

.form>input[type=button] {
    flex: 0 0 20%;
    border: 0px solid #6818a1;
}

.bubble {
    position: relative;
    flex: 1 1 auto;
    clear: both;
}

.bubble p {
    border-radius: 5px;
    padding: 8px;
    margin: 8px 12px;
    max-width: 80%;
    position: relative;
    transition: background-color 0.5s;
}

.left p {
    background-color: #ffa500;
    float: left;
}

.left p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid #ffa500;
    border-bottom: 4px solid transparent;
}

.right p {
    background-color: #6818a1;
    color: #fff;
    float: right;
}

.right p::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: -8px;
    bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid #6818a1;
    border-bottom: 4px solid transparent;
}

#btn {
    background-color: black;
    color: white;
}
.b-botones {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
#b-out {
    margin-right: 20px;
    width: 70px;
}
#regresar-s {
    width: 110px;
}