* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; overflow: hidden; }
.wrap { 
    margin: 8px; height: 90%; width: 100%; 
    display: flex; flex-direction: column;
}
.container {
    flex: 1 1 90%; display: flex; flex-direction: column; 
    background-color: #eee; border: 1px solid #ccc; overflow: auto;
}
.form { flex: 0 0 32px; display: flex; border: 1px solid #ddd; }
.form > input[type=text] { flex: 1 1 auto; border: 1px solid #eee; }
.form > input[type=button] { flex: 0 0 20%; border: 1px solid #eee; }
.bubble { flex: 1 1 auto; clear: both; }
.bubble p {
    border-radius: 5px;
    padding: 8px; margin: 8px 12px;
    max-width: 80%;  
    position: relative; transition: background-color 0.5s; 
}
.left p { background-color: #ccc; float: left; } 
.right p { background-color: #33c; color: #fff; float: right; } 
/* nuevo */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.left p::before {
    content: ''; position: absolute;
    width: 0; height: 0; left: -8px; top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid #ccc;
    border-bottom: 4px solid transparent;
}
.right p::after {
    content: ''; position: absolute;
    width: 0; height: 0; right: -8px; bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid #33c;
    border-bottom: 4px solid transparent;
}

.chat-title {
    flex: 0 1 45px;
    position: relative;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
    position: fixed;
}
#h3-id-salon{
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
#online{
  text-align: right;
  color: rgb(42, 184, 42);
  font-size: 15px;
  margin: 0;
  padding: 0;
}
#h3-nombre{
  text-align: right;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/* h1, h2 {
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: fixed;
  color: black;
} */

/* h2 {
  color: rgba(255, 255, 255, .5);
  font-size: 8px;
  letter-spacing: 1px;
} */

.avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

#img {
    width: 100%;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  
  body{
    background-image: url(https://esports.as.com/2019/04/09/league-of-legends/skins-Invictus-Gaming-convierten-figuritas_1234686525_144882_1090x600.jpg);
    background-repeat: no-repea;
    background-size: 100%;
    margin:1;
    margin: 0px;
}
    