body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 657px;
    background-position: center;
    background-image: url(fondo.jpg);
}

.contenedor {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 6%;
    border-radius: 10px;
    background: linear-gradient(to top, #ffa500 0%, #6818a1 100%);
    opacity: 0.90;
}
.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}

.insert, .mail{
    padding-bottom: inherit;
}

.boton {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}

#sign-in {
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #6818a1;
}
#sign-up {
    border-radius: 10px;
    border: 1px solid #6818a1;
}

.olvidaste-contraseña {
    display: flex;
    justify-content: center;
}
