body {
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    height: 97vh;
    align-items: center;
    background-image: url(fondo.jpg);
    margin: auto;
  }

.u-ser {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 350px;
    height: 350px;
    background-color: #ffffff38;
    border-radius: 10px;
    border: 2px solid #FFA500;
}

p {
    color: white;
}

.crearu {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}
button {
    border-radius: 10px;
    border: 2px solid #4B0082;
    color: #4B0082;
}
#c-usu {
    margin-right: 10px;
}
#hom {
    margin-left: 10px;
}
