
body {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  /* justify-content: center; */
  height: 97vh;
  /* align-items: center; */
  background-image: url(fondo.jpg);
  margin: auto;
}
.bottom{
  display: flex;
  flex-direction: row;
}

.right {
  height: 100%;
  width: 30%;
}
.left {
  width: 70%;
  margin: 0 20px 20px;
}
iframe {
  width: 100%;
  height: 100%;
}


.banner
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  width: 100%;
  margin: 0 0 20px 0;
}
.datos {
  display: flex;
  flex-direction: row;
  background-color: #FFA500;
  border-radius: 0px 0px 25px 25px;
  width: 70%;
  justify-content: center;
}
#datos-usuario {
  width: 50%;
  align-self: center;
}
.flex1 {
  display:flex;
  flex-direction: column;
  
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  color: black;
  padding: 0px 10px 5px 10px;
  margin-top: 0em;  
}


.welcome {
  margin: 0px;
  font-size: 28pt;
}

#container {
  align-items: center;
  justify-content: center;
}

.flip-card {
  display: grid;
  grid-template-columns: auto;
  float: left;
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 0px;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: sans-serif;
}

.flip-card-front {
  background-color: black;
  border: 3px solid #FFA500;
  box-shadow: 2px 6px 12px black;
  color: #FFA500;
  border-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #4B0082;
  color: white;
  border-radius: 10px;
}

.date {
  margin-left: 15px;
  text-align: left;
  font-size: 10pt;
}

.flip-card-front h1 {
  color: #FFA500;
  font-size: large;
  text-align: center;
  width: 100%;
  padding: 0em;
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 20px;

}


.lout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 62px;
  margin: 0px 0px 0px 10px;
  cursor: pointer ;
}

button {
  margin-top: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {

  .flip-card {
    display: grid;
    grid-template-columns: auto;
    float: left;
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 0px;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: sans-serif;
  }

  .flip-card-front {
    background-color: black;
    border: 3px solid #FFA500;
    box-shadow: 2px 6px 12px black;
    color: #FFA500;
    border-radius: 10px;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    background-color: #4B0082;
    color: white;
    border-radius: 10px;
  }

}


@media only screen and (max-width: 375px) {

  .banner,
  .welcome,
  h3 {
    display: flex;
  flex-direction: row;
    /* background-color: #FFA500; */
    /* border-radius: 0px 0px 25px 25px; */
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
  }

  .banner {
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
    width: 75%;

  }

  .welcome {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 13pt;
  }

  .flip-card {
    display: grid;
    grid-template-columns: auto;
    float: left;
    background-color: transparent;
    width: 50px;
    height: 50px;
    perspective: 0px;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: sans-serif;
  }

  .flip-card-front {
    background-color: black;
    border: 1px solid #FFA500;
    box-shadow: 2px 6px 12px black;
    color: #FFA500;
    border-radius: 10px;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    background-color: #4B0082;
    color: white;
    border-radius: 10px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px;

  }

    .lout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    margin: 0px 0px 0px 10px;
    border: solid 0px red;
  }

  button {
    margin-top: 10px;
    border-radius: 10px;
  }

  #salir {
    width: 75%;
  }
}
@media only screen and (max-width: 900px) {
  .bottom{
    flex-direction: column;
  }
  iframe {
    width: 100vw;
    height: 60vw;
  }
  .left {
    width: 100%;
    margin: 0;
  }
}